.container {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    color: #025D66;
    width: 150px;
    margin: 5px 0;
}

.description {
    color: #262B2E;
    font-size: 20px;
}

@media  screen and (min-width: 680px){
    .container {
        margin: 2.3vw;
    }
}