.rowContainer {
    display: contents;
    transition: color 300ms;
}

.Distributed {
    color: #E57462 ;
}
.Started {
    color: #C06635;
}
.Closed {
    color: #025D66;
}

.title {
    font-weight: bold;
    font-size: 18px;

}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.dropdownIcon {
    color: #037E8B;
    transition: color 300ms;
    cursor: pointer;
}



.dropdownItem {
    margin: auto;
    width: 25px;
    height: 25px;
    background-color: #037E8B ;
    border-radius: 50%;
    color: #F3F2DC;
    transition: 0   ;
}


.dropdown {
 
}

.img {

    height: 20px;
    width: 20px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 3px solid #262B2E;
    background-position: center;
    background-size: cover;
    
    }
    
    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid #262B2E;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        font-size: 12px;
        flex-shrink: 0;
    }


@media only screen and (min-width: 768px){
    
}
