.LoginContainer {
    display: flex;
        flex-direction: column;
        align-items: center;
}

.form {
    display: flex;
        flex-direction: column;
        align-items: center;
}

.icon {
    font-size: 80px;
    color: #657179;
    margin-bottom: 20px;
}

.btn {
    font-family: 'Alef', sans-serif;
    font-size: 30px;
    border: none;
    background-color: #025D66;
    color: #F3F2DC;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 45px;
    cursor: pointer;
    margin: 20px;
}

.error {
    color: #E57462;
    font-size: 22px;
    margin: 10px;
}

.ask{
    color: #262B2E;
    margin: 20px;
    font-size:22px;
}

.toConnect {
    color: #E57462;
    text-decoration: underline;
    cursor: pointer;
}

.headline {
    color: #262B2E;
    font-size: 30px;
    margin: 0;
    margin-top: 10px;
}

