.container{
    display: flex;
        flex-direction: column;
        align-items: flex-start;
    padding-right: 15px ;
    margin: 20px 0 20px 0;
}

.headline {
    margin: 0;
    text-align: start;
}

.headline span {
    margin-left: 5px;
}



.correct {
    color: #03909F ;
}

.wrong {
    color: #E57462;
}

.regoler {
    color: #262B2E;
}

.description {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

.answerContainer {
    display:flex ;
    position: relative;
}

.indication {
    width: 0.7rem;
    height: 0.7rem;
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 10px;
    position: absolute;
    right: -22px;
    top: 5.5px;
    padding: 1px;
    border-radius: 3px;
}

.correctInd {
    color:  #025D66;
    border: 2px solid #025D66;
}

.wrongInd {
    color: #E57462;
    border: 2px solid #E57462;
   
}

.textAnswerContainer{
    display:flex ;
    align-items: center;
    text-align: start;
}


.answerSquare {
    flex-shrink: 0;
    -webkit-appearance:none;
    display:inline-block;
    width:10px;
    height:10px;
    padding:0px;
    margin:0px;
    margin-left:5px;
    margin-top: 6px;
    background:#F3F2DC;
    border-radius:5px;
    border:3px solid #025D66;
    border: 3px solid #025D66;                                                
    box-sizing:content-box;                                                   
    line-height:18px;                                                         
    vertical-align: sub;                                                      
    position:relative;
}

.after{ 
   background-color: #025D66;
   
}