.container {
    
    display: flex;
    align-items: center;
    margin: 10px 0;
    
}

.iconWramp {
    margin: 0 7px 0 12px;
    background-color: #037E8B;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.text {
    text-align: right;
}