

.title {
    margin: 0;
    margin-top: -10px;
    font-size: 22px;
}

.status {
  color: #C06635;
  max-width: 70vw;
  margin: 5px auto 10px auto;
}

.iconsGroupWarp {
    width: 100vw;
    background-color: #F3F2DC;
    height: 20px;
    position: sticky;
    top: 0px;
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;
}

.iconsGroup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    margin: 10px auto;
   
    cursor: pointer;
}

.icon {
  transition: 300ms;
  z-index: 1;
}

.icon:hover {
  color: #A5A5A5
}

.save {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #A5A5A5;
  font-size: 12px;
}

.dropdown {
  position: relative;
}

.ldsRing {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 20px;
    
  }
  .ldsRing div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 2px;
    border: 2px solid #A5A5A5;
    border-radius: 50%;
    animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #A5A5A5 transparent transparent transparent;
  }
  .ldsRing div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .ldsRing div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .ldsRing div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes ldsRing {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media only screen and (min-width: 768px){
    .mainContainer {
      display: flex;
      flex-direction: column;
      
    }

    .title {
        display: none;
      }
      
    .iconsGroupWarp{
        position: absolute;
        width: min-content;
        left: 20px;
        top: 150px
    }

    .headerForms {
      order: 1;
    }

    .save {
      font-size: 16px;
      order: 2;
      margin-bottom: -20px;
    }

    .questionsContainer {
      order: 3;
    }

    .addQuestion {
      order: 4;
    }

  }