.container {
    display: flex;
    flex-direction: column;
}

.timeContainer {
    display: flex;
    flex-direction: row;
    margin: auto;
}



.timeText {
    font-size: 14px;
    width: 20px;
    border-bottom: 1px solid black;
    
}
.timeInput {
    width: 20px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    margin: 0;
    padding: 0; 
    line-height:0;
    transition: 100ms;
}

.timeInput:focus {
    border-bottom: 3px solid rgb(243, 90, 90);
    margin: 0;
    padding: 0; 
    line-height:0;
    
}   

.spans {
    display: flex;
        flex-direction: column;
        align-items: center;
}

.label {
    font-size: 8px;
    font-weight: bold;  
    color: rgb(211, 211, 211);
}   