.container {
    display: flex;
    /* padding: 5px 10px; */
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    height: 60px;
}

.container:hover {
    /* background-color: rgba(0, 0, 0, 0.185); */
}

.ProfilersContainer {
    display: flex;
    align-items: center;
    color: #262B2E;
    width: 100%;
}

.TesterImg {

height: 20px;
width: 20px;
flex-shrink: 0;
border-radius: 50%;
border: 3px solid #262B2E;
background-position: center;
background-size: cover;

}

.TesterIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #262B2E;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    font-size: 12px;
    flex-shrink: 0;
}

.name {
    width: 100%;
    display: flex;
    justify-content: center;
}


.email {
    color:#262B2E;
}