.homepage {
    display: flex;
        flex-direction: column;
}

/*-------------- The No. 1 -----------------*/

.firstDiv {
    display: flex;
        flex-direction: column;
    
}

.description {
    width: 100vw;
    height: 100vw;
    max-height: 400px;
    background-color: #262B2E;
    display: flex;
        align-items: center;
        justify-content: center;
}

.content {
   
    height: max-content;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin: 10px;
    font-size: 42px;
    color: #C9842A;
}

.subtitle {
    margin: 10px;
    font-size: 28px;
    color: #F3F2DC;
}

.button {
    margin: 10px;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #262B2E;
    background-color: #C9842A;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 {
    background-image: url('https://cdn.pixabay.com/photo/2021/02/18/12/00/girl-6027005_1280.jpg');
    width: 100vw;
    height: 100vw;
    max-height: 400px;
}



/*-------------- The No. 2-----------------*/

.secondDiv {
    display: flex;
        align-items: center;
    height: 140vw;
    max-height: 500px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.description2 {
   
    display: flex;
        flex-direction: column;
    background-color: #F3F2DC;
    
}

.title2 {
    color: #262B2E;
    margin: 0;
}

.subtitle2 {
    margin-top: 0;
    color: #262B2E;
    font-size: 20px;
    font-weight: normal; 
    max-width: 400px;
}

.button2 {
    background-color: #025D66;
    color:#F3F2DC;
}

.iconsLine {
    display: flex;
        flex-direction: column;
        justify-content: center;
    max-width: 400px;
    margin-top: 20px;

}
@media  screen and (min-width: 680px) {
    .iconsLine {
        flex-direction: row;
        max-width: 80vw;
        margin-top: 0;
    }
}


.iconsGroup {
    display: flex;
        justify-content: space-between;
    margin: 5px 0;
}


.thirdDiv {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 50vw 50vw;
    grid-template-areas:
        "top-right top-left"
        "bottom-right bottom-left";
    align-items: start;
}

.topLeft {
    grid-area: top-left;
    background-image: url('https://cdn.pixabay.com/photo/2018/10/02/11/12/girl-3718521_1280.jpg');
    width: 100%;
    height: 100%;
}

.topRight {
    grid-area: top-right;
    background-color: #262B2E;
    width: 100%;
    height: 100%;
    display: flex;
        align-items: center;
        justify-content: center;
    
}

.bottomLeft {
    grid-area: bottom-left;
    background-color: #262B2E;
    width: 100%;
    height: 100%;
    display: flex;
        align-items: center;
        justify-content: center;
}

.bottomRight {
    grid-area: bottom-right;
    background-image: url('https://cdn.pixabay.com/photo/2018/06/27/07/45/student-3500990_1280.jpg');
    width: 100%;
    height: 100%;
}

.content3 {
    width: 100%;
}

.title3 {
    font-size: 24px;
    margin: 0;
}

.subtitle3{
    font-size: 18px;
    /* margin: 5px; */
}

.button3 {
    font-size: 18px;
    padding: 5px;
}

@media  screen and (min-width: 768px) {
    .firstDiv {
        background-image: url('https://cdn.pixabay.com/photo/2021/02/18/12/00/girl-6027005_1280.jpg');
        background-position: contain;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-attachment: fixed; */
        height: 80vh;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        
    }

    .description1 {
        width: 42vw;
        max-width: 400px;
        height: 32vw;
        max-height: 300px;
        margin-left: 60px;
        
    }

    .img1 {
        display: none;
    }


    .secondDiv{
        max-height: 390px;
        margin: 0;
    }

    .subtitle2 {
        max-width: 600px;
    }


    .thirdDiv {
        margin: auto;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: 40vw 40vw;
        justify-content: center;
    }

    .content3 {
        width: 80%;
    }

    .title3 {
        font-size: 4vw;
      
    }
    
    .subtitle3{
        font-size: 2.5vw;
      
    }
    
    .button3 {
        font-size: 3vw;
        padding: .7vw;
    }
    
   

  }

